In [22]:
mydic={"name":"Chayan","age":22}

In [2]:
mydic["age"]

22

In [3]:
mydic={"roll":"21PH05023"} # update the existing

In [4]:
mydic

{'roll': '21PH05023'}

In [15]:
#to add new
mydic["phone"]=7872617978

In [6]:
mydic

{'roll': '21PH05023', 'phone': 7872617978}

In [7]:
#traversing all elements
def travdic(dict):
    for key in dict:
        print(key,dict[key])
travdic(mydic)

roll 21PH05023
phone 7872617978

In [8]:
# searching
def serdic(dict,value):
    for key in dict:
        if dict[key]==value:
            return key,value
    return "The value is not in the dict"

In [9]:
serdic(mydic,5)

'The value is not in the dict'

In [11]:
serdic(mydic,7872617978)

('phone', 7872617978)

In [16]:
#delete and remove
pnum=mydic.pop("phone")
pnum
mydic

{'name': 'Chayan', 'age': 22}

In [17]:
#deleting all clear
del mydic

In [18]:
mydic

NameError: name 'mydic' is not defined

In [20]:
mydic.clear()

In [21]:
mydic

{}

In [23]:
#returns but in tupple 
print(mydic.items())

dict_items([('name', 'Chayan'), ('age', 22)])

In [24]:
print(mydic.keys())

dict_keys(['name', 'age'])

In [28]:
#if key not exist make the key and set default value 
mydic.setdefault("course","MSc")
print(mydic)

{'name': 'Chayan', 'age': 22, 'course': 'MSc'}

In [29]:
 mydic.values()

dict_values(['Chayan', 22, 'MSc'])

In [30]:
newdic={"a":1,"b":2}
mydic.update(newdic)

In [31]:
mydic

{'name': 'Chayan', 'age': 22, 'course': 'MSc', 'a': 1, 'b': 2}