## Tuple
these are immutable

In [1]:
ntupple='a','b','c','d'
print(ntupple)

('a', 'b', 'c', 'd')

In [2]:
#tupple with just a element
onetup='a',  #be carefull abbout the final coma
print(onetup)

('a',)

In [5]:
#empty tupple
etup=tuple()
etup

()

In [6]:
mtuple=tuple('abcdefgh')
print(mtuple)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

slice operator \n
tuplename[leftindex:rightindex]  from index to upto index

In [8]:
#travarsing
for i in mtuple:
    print(i) # here i returns as tuple element

a
b
c
d
e
f
g
h

In [9]:
for i in range(len(mtuple)):
    print(mtuple[i])    #i here returns as index no

a
b
c
d
e
f
g
h

In [10]:
#searching
'a' in mtuple

True

In [12]:
#concatenation of two tuple
newtuple=ntupple+mtuple

In [13]:
newtuple

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [16]:
ituple=tuple('12354')
ituple

('1', '2', '3', '5', '4')

In [17]:
#count repeatation in tuple
newtuple.count('a')

2

In [19]:
max(mtuple)

'h'

In [ ]:
#we can change entire tuple like creating new one with same name
#but we cannot assign a value
#can delete a entire tupple usiing del but cannot delete an element

In [20]:
# create a list inside tuple and a tuple in side list
list=[(1,2),(2,3)]
tuple=([1,2],[2,3])

In [25]:
list

[(1, 2), (3, 2)]

In [22]:
tuple

([1, 2], [2, 3])

In [24]:
list[1]=(3,2)

In [26]:
tuple[1]=[3,2]

TypeError: 'tuple' object does not support item assignment

In [27]:
#nested tuple can also be made

In [28]:
#tupple for heterogenous data type that doesn't change in the code and fuster
#tuple used in saving key for faster access
#tuples are write protected

#list is for homogeneous data type and as it is mutable, it is used  where needed